{   userfile              => 'var/userfile',
    recipe_basename       => 'recipe.xml',
    recipes_dir           => 'var/recipes',
    navigator_endpoint    => 'http://localhost:4567/navi/default',
    hmml_dtd_file         => 'var/hmml.dtd',
    log_level             => 'debug',
    datetime_format       => '%Y.%m.%d_%H.%M.%S',
    notification_live_sec => 8,
    receiver_endpoint     => 'ws://localhost:4569/external',
}
