{
  userfile               => 'var/userfile',
  recipe_basename        => 'recipe.xml',
  recipes_dir            => 'var/recipes',
  navigator_endpoint     => 'http://localhost:4567/navi/default',
  relax_ng_file          => 'rng/hmml-basic.rng',
  log_level              => 'info',
  datetime_format        => '%Y.%m.%d_%H.%M.%S',
  notification_live_sec  => 5,
  update_sound           => '',
  video_width            => 320,
  video_height           => 180,
  complement_recipes_dir => 'var/complement_recipes',
  ws_timeout             => 300,
}
