/*これをいじる*/
/* start for navbar-fixed-top */
body {
  padding-top: 50px;
  overflow: scroll;
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}
.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-right: 5px;
  margin-left: 20px;
  font-weight: bold;
  color: #111;
  text-shadow: -1px -1px 1px #999, 1px 1px 1px #666;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}
/* end for navbar-fixed-top */

